*{
margin: 0;
padding: 0;
box-sizing: border-box;
border: none;
outline: none;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #123734;
    padding: 0.9375em 1.875em;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-img {
    height: 5em;
}


.nav-list {
    list-style: none;
    display: flex;
    gap: 4em;
    margin: 0;
}

.nav-list li a {
    text-decoration: none;
    color: white;
}

.header h1 {
    color: #E5AF24C9;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}


.contenedor-imagenes{
    background-color: #4B8F8CEB;
    display: flex;
    gap: 1em;
}

.contenedor-imagenes img {
    width: 20em;
    height: auto;
}

.contenedor-imagenes a {
    color: #4B8F8CEB;
    align-content: center;
}

.contenedor-hero-section {
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: #4b8f8c;
    padding: 3em 5em;
    gap: 3em;
    flex-wrap: wrap;
}

.textos-hero-section {
    max-width: 40%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
}

.textos-hero-section h2 {
    font-family: 'Acephimere', sans-serif;
    font-weight: 700;
    font-size: 2.5em;
    line-height: 1;
    letter-spacing: -0.02em;
}

.textos-hero-section h1 {
    font-family: 'Acephimere', sans-serif;
    font-weight: 700;
    font-size: 5.5em;
    line-height: 1;
    letter-spacing: -0.02em;
}

.textos-hero-section p {
    font-size: 1.5em;
    line-height: 1.5;
    color: #e2e8f0;
}

.boton-vermas {
    width: fit-content;
    padding: 0.8em 1.5em;
    font-size: 1em;
    background-color: #e5af24;
    color: #fff;
    border: none;
    border-radius: 0.5em;
    cursor: pointer;
}

.contenedor-hero-section-img img {
    max-width: 100%;
    height: 46.188em;
    width: 60em;
    border-radius: 0.5em;
    justify-content: right;

}